.helpUsContainer {
  background: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	), url("../../static/images/background.png") no-repeat center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
	width: 100%;
	min-height: 100vh;
  padding-left: 0;
  color: #FFFFFF;
  font-family: 'Montserrat Regular';
  min-width: 50vw;
}


.regularHeaderContainer {
  display: flex;
  justify-content: flex-start;
}
  
.logoRed {
  margin: 50px 40px 0;
  width: 207px;
  height: 111px;
}

.helpUsContent {
  padding-left: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Montserrat Regular';
  min-width: 50vw;
}

.helpUsContent > h1 {
	font-size: 45px;
  font-weight: 400;
  width: 80%;
}

.helpUsContent > p {
  text-align: center;
  line-height: normal;
  font-size: 24px;
  width: 70%;
}

.donationLinks {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.paypalLink, .patreonLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.aboutUsFooterLink {
  cursor: pointer;
  margin: 1rem 2rem;
  opacity: 0.8;
  color: #fff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.68px;
  line-height: 28px;
  text-decoration: none;
}

.paypalLink > svg:hover {
  color: rgba(202, 194, 194, 0.781);
}

.patreonLink > svg:hover {
  color: rgba(202, 194, 194, 0.781);
}

@media (max-width: 500px) {

  .container{
    align-items: center;
  }

  .regularHeaderContainer {
    justify-content: center;
  }

  .regularHeader {
    width: unset;
  }

  .logoRed {
    margin: 2rem 0rem 0rem 0rem;
    width: 150px;
    height: auto;
  }

  .helpUsContent > h1 {
    margin: 1rem 0 2rem;
    font-size: 24px;
    font-weight: 400;
  }
  
  .helpUsContent > p {
    margin: 0;
    font-size: 18px;
    max-width: 70%;
  }

  .footerLink {
    font-size: 16px;
  }
}
