.helpUsContainer {
  background: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	), url("../../static/images/background.png") no-repeat center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
	width: 100%;
	min-height: 100vh;
}
  
.logoRed {
  margin: 50px 40px 0;
  width: 207px;
  height: 111px;
}

.helpUsContent {
  margin: 3rem 1rem;
  color: #FFFFFF;
  text-align: center;
}

.helpUsContent > h1 {
  margin: 3rem 1rem;
  font-size: 48px;
}

.helpUsContent > p {
  margin: 3rem 1rem;
  font-size: 24px;
}

.donationLinks {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
}

.paypalLink > svg:hover {
  color: rgba(202, 194, 194, 0.781);
}

.patreonLink > svg:hover {
  color: rgba(202, 194, 194, 0.781);
}

.footerLink {
  cursor: pointer;
  margin: 0 2rem;
  opacity: 0.8;
  color: #fff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.68px;
  line-height: 28px;
  text-decoration: none;
}

@media (max-width: 500px) {

  .container{
    align-items: center;
  }

  .logoRed {
    margin: 2rem 0rem 0rem 0rem;
    width: 150px;
    height: auto;
  }

  .helpUsContent > h1 {
    margin: 3rem 1rem;
    font-size: 24px;
  }
  
  .helpUsContent > p {
    margin: 3rem 1rem;
    font-size: 18px;
  }

  .donationLinks {
    justify-content: space-around;
  }

  .footerLink {
    font-size: 16px;
    margin: 0 .5rem;
  }
}
